$number-of-projects: 5;

.projects {

    height: 100%;

    h1 {
        @include main-title();
    }
    
    .project-list {
        @media (max-width:620px) {
            margin-inline: 20px;
        }
    
        @media (max-width:370px) {
            margin-inline: 0px;
            padding-inline: 20px;
        }
        
        @include for-wide-layout() {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 64px;
            justify-content: center;
            align-items: center;

            @for $i from 1 through $number-of-projects {
                .project-preview {
                    margin-inline: auto !important;

                    @if $i % 2==1 {
                        &:nth-child(#{$i}) {
                            grid-column: 2 / span 1;
                            grid-row: calc(2*$i - 1) / span 3;
                        }
                    }

                    @else {
                        &:nth-child(#{$i}) {
                            grid-column: 1 / span 1;
                            grid-row: calc(2*$i - 1) / span 3;
                        }
                    }
                }
            }
        }
    }
}