.modal-screen {
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 64;
    .contact-modal {
        z-index: 80;
        overflow: hidden;
        max-height: 0;
        max-width: 20%;
        height: 500px;
        width: 350px;
        opacity: 0;
        transition: max-height .3s ease-in-out, max-width .3s ease-in-out, opacity .3s ease-in, top .3s ease-in;
        transition-delay: 0s;
        border-radius: 18px;
        -webkit-box-shadow: 0px 0px 27px 9px #2F2F2F;
        box-shadow: 0px 0px 27px 9px #2F2F2F;

        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);

        .close-btn {
            top: 15px;
            right: 15px;
            color: $blue-gray;
            background: none;
            border: none;
            outline: none;
            padding: 0;
            font-size: 32px;
            cursor: pointer;
            z-index: 160;

            @include hover-supported() {
                &:hover {
                    color: $concrete-white;
                }
            }
        }

        &.active {
            opacity: 1;
            transition: max-height .3s ease-in-out, max-width .3s ease-in-out, opacity .3s ease-in, top .3s ease-in;
            max-height: 500px;
            max-width: 350px;
            top: 50%;

            .galaxy-bg {
                transform: scaleY(.9) scaleX(1) !important;
            }
        }

        .form-container {
            width: 100%;
            height: 100%;
            background-color: $grayish;
            padding: 30px;

            h2 {
                font-weight: 300;
                color: $martini-green;
                margin-bottom: 12px;
            }

            form {
                height: 100%;
            }

            label {
                display: flex;
                flex-direction: column;
                width: 100%;
                border: 1.3px solid $clay-gray;
                border-radius: 4px;
                padding: 8px;
                margin-bottom: 14px;

                &:has(input:focus) {
                    border-color: $martini-green;
                }

                span {
                    color: $american-gray;
                }

                input {
                    @include transparent($color: $concrete-white);
                    font-size: rem(16px);
                    padding: 0;
                    border: none;
                    outline: none !important;
                    font-family: 'Dosis', 'sans-serif';
                    color: $dark-gray;

                    &::placeholder {
                        letter-spacing: 1.2px;
                        font-size: rem(12px);
                        color: $cloudy;
                    }
                }

            }

            textarea {
                font-size: rem(16px);
                flex-basis: 118px;
                resize: none;
                color: $dark-gray;
                border: none !important;
                outline: none;
                background-color: $explosive;
                font-family: 'Dosis', 'sans-serif';
                margin-bottom: 12px;
                flex-grow: 2;
                padding: 8px;
                border-radius: 4px;

                &:focus {
                    outline: .8px solid $martini-green;
                }

                &::placeholder {
                    letter-spacing: 1.2px;
                    color: $cloudy;
                }
            }

            .words-left {
                font-weight: 250;
                color: $dark-gray;
                text-align: end;
                margin-bottom: 12px;
            }

            .submission {
                justify-self: end;

                .cv {
                    width: 140px;
                    height: 40px;
                    outline: 1px solid $martini-green;
                    font-weight: 300;
                    letter-spacing: 2px;
                    font-size: rem(14px);
                    border-radius: 7px !important;
                    color: $martini-green;

                    @include hover-supported() {
                        background-color: $ceramic-gray;
                    }
                }
            }
        }

        .social {
            margin-top: 12px;
            gap: 8px;

            a {
                font-size: rem(16px);
                color: $martini-green;

                &:hover {
                    color: darken($martini-green, 15%);
                }
            }
        }

        .galaxy {
            display: none;
        }

        @media (max-width:370px) {
            width: calc(100vw - 20px);
            height: 520px;

            &.active{
                max-height: 520px;
            }

            .form-container {
                form {

                    textarea {
                        margin-bottom: 4px;
                    }

                    .words-left {
                        margin-bottom: 0;
                    }

                    .submission {
                        display: block;

                        >* {
                            width: 100% !important;
                            margin-bottom: 6px;
                        }
                    }
                }
            }
        }

        @media (min-width:740px) {
            width: 700px;

            &.active {
                max-width: 700px;
            }

            .form-container {
                width: 50%;

                .submission {
                    justify-content: center;

                    .cv {
                        display: none;
                    }
                }

            }

            .galaxy {
                display: flex;
                align-items: center;
                overflow: hidden;
                justify-content: start;
                width: 50%;

                .galaxy-bg {
                    width: 390px !important;
                    height: 600px;
                    transform: scaleY(1.2) scaleX(1.5);
                    transition: transform 1.5s cubic-bezier(0, 0, 0, 1);
                }

                p:has(.cv) {
                    z-index: 60;

                    .cv {
                        color: $martini-green;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 45;
                    background-color: #ffffff17;
                }
            }
        }
    }
}